html {
    font-size: 16px;
    font-style: normal;
}

body {
    background-color: #F5EDED;
}
.project_title {
    font-size: 1rem;
    font-weight: bolder;
    color: green;
    margin-bottom: 1rem;
}
.intro {
    color: #6482AD;  

}

#name {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 1em;
}

#intro_detail {
    font-size: 1rem;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #6482AD;
    color: white;
    font-family: "Gochi Hand", cursive;
    font-weight: lighter;

}

main {
    background-color: #E2DAD6;
}

#projects {
    font-size: 1rem;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #7FA1C3;
    color: white;
}

/* color palete: https://colorhunt.co/palette/6482ad7fa1c3e2dad6f5eded */